# Configuración del Bot de Telegram
TELEGRAM_TOKEN=123456789:ABCdefGHI_ejemplo_token

# Configuración de Google Sheets
GOOGLE_SHEET_ID=1AbC2DeF3GhI4JkL5MnO_ejemplo_id
SHEET_NAME=Registro

# Ruta de Tesseract OCR (solo necesario en Windows si no está en PATH)
# Windows: C:\Program Files\Tesseract-OCR\tesseract.exe
TESSERACT_PATH= C:\Program Files\Tesseract-OCR\tesseract.exe

# Archivo de credenciales de Google
CREDENTIALS_FILE=credenciales.json